<app-layout>
  <@head>
    <title>${data?.title}</title>
    <meta name='description' content=(data?.meta?.description)>
    <meta name='keywords' content=(data?.meta?.keywords)>
  </@head>
  <@body>
    <app-header/>
    <if(data?.user?.email)>
      <div.container>You are already logged in as : ${data?.user?.email}</div>
    </if>
    <else><login-form user=data?.user/> </else>
  </@body>
  <@footing><app-footer/></@footing>
</app-layout>
