{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 80,
  "markoSyntax": "html",
  "markoAttrParen": false,
  "bracketSpacing": false,
  "jsxBracketSameLine": true
}
