$ const {content} = input;

<if(content)>
  <section.content-block>
    <div.container>
      <div.mv4>
        <for|item, i| of=content>
          <a-tag key=i ...item/>
        </for>
      </div>
    </div>
  </section>
</if>
