<app-layout>
  <@head>
    <title>${data?.title}</title>
    <meta name='description' content=(data?.meta?.description)>
    <meta name='keywords' content=(data?.meta?.keywords)>
  </@head>
  <@body>
    <app-header user=data?.user/>
    <section>
      <div.container>
        <h1>Profile: ${data?.user?.email}</h1>
      </div>
    </section>
  </@body>
  <@footing><app-footer/></@footing>
</app-layout>
