:root {
  --color-primary: #1d4ed8;
  --color-primary-rgb: 29, 78, 216;
  --color-secondary: #334155;
  --color-success: #16a34a;
  --color-info: #0ea5e9;
  --color-warning: #facc15;
  --color-danger: #ef4444;
  --color-light: #f8fafc;
  --color-dark: #0f172a;
  --color-default: #334155;
  --color-text: #0f172a;
  --color-white: #ffffff;
  --color-black: #0f0f0f;

  --opacity-default: 0.6;

  --header-height: 350px;
  --header-title-color: var(--color-white);
  --header-description-color: var(--color-white);
  --header-content-bg: rgba(0, 0, 0, 0.6);

  --link-color: var(--color-primary);
  --link-hover-color: rgb(69, 137, 255);

  --slide-height: 450px;
  --slide-content-bg: rgba(0, 0, 0, 0.6);
  --slider-title-color: var(--color-white);
  --slider-description-color: var(--color-white);
  --slider-arrow-color: var(--color-primary);

  --input-border-radius: 2px;
  --input-border-color: var(--color-black);
  --input-border-width: 1px;
  --input-border-style: solid;

  --form-message-title-color: var(--color-black);
  --form-message-description-color: var(--color-black);

  --card-border-radius: 2px;
  --card-border-color: var(--color-black);
  --card-border-width: 1px;
  --card-border-style: solid;
  --card-image-height: 16rem;
  --card-title-color: var(--color-text);
  --card-description-color: var(--color-text);

  --listing-grid-col-count: 3;
  --listing-grid-min-width: 400px;
  --listing-grid-gutter-width: 1rem;

  --spacing-none: 0;
  --spacing-extra-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;

  --footer-bg-color: var(--color-black);
  --footer-color: var(--color-white);

  --font-sans-serif: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  --body-font-family: var(--font-sans-serif);
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-color: var(--color-black);
  --body-bg: var(--color-white);

  --border-width: 1px;
  --highlight-bg: var(--color-light);
}
