.container {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
}

.grid {
  display: flex;
  margin: 2rem 0;
  gap: var(--listing-grid-gutter-width);
}

.bg-image {
  background-size: cover;
  background-position: center;
}

@each $name, $color in $colors {
  .text-#{"" + $name} {
    color: $color;
  }

  .bg-#{"" + $name} {
    background-color: $color;
  }

  .link-#{"" + $name} {
    color: $color;

    &:hover {
      color: lighten($color, 10%);
    }
  }

  .btn-#{"" + $name} {
    display: inline-block;
    background-color: $color;
    padding: 0.625rem 1.75rem;
    border: 0;
    color: #fff;
    outline: 0;

    &:hover {
      cursor: pointer;
      outline: 0;
      background-color: lighten($color, 10%);
      color: #fff;
    }
  }
}
