<div.container>
  <div.grid>
    <button.btn-primary>1</button>
    <button.btn-secondary>2</button>
    <button.btn-info>3</button>
    <button.btn-success>4</button>
    <button.btn-warning>5</button>
    <button.btn-danger>6</button>
  </div>
</div>
