.collapsable {
  border-radius: var(--card-border-radius);
  border-color: var(--card-border-color);
  border-width: var(--card-border-width);
  border-style: var(--card-border-style);
  margin: 2rem 0;

  .title {
    font-size: 1.25rem;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: #111;
    color: #fff;
  }

  .content {
    border-top-width: var(--card-border-width);
    border-top-style: var(--card-border-style);
    padding: 1rem;

    &.collapsed {
      height: 0;
      overflow: hidden;
      padding: 0;
    }
  }
}
