$ const {contents} = input;

<if(contents?.length)>
  <section.expandable-block>
    <div.container>
      <for|content, i| of=contents>
        <a-collapsable key=i ...content/>
      </for>
    </div>
  </section>
</if>
