$ const {listing} = input;

<if(listing)>
  <section.listing-block>
    <div.container>
      <div.grid>
        <for|card, i| of=listing>
          <a-card key=i ...card/>
        </for>
      </div>
    </div>
  </section>
</if>
