$ const {cards} = input;

<if(cards?.length)>
  <section.card-block>
    <div.container>
      <div.grid>
        <for|card, i| of=cards>
          <a-card ...card/>
        </for>
      </div>
    </div>
  </section>
</if>
