<header>
  <div.container>
    <div.wrapper>
      <div.logo><a.white href='/'>✱ Asterix</a></div>
    </div>
    <nav>
      <li><a href='/'>Home</a></li>
      <li><a href='/blog'>Blog</a></li>
    </nav>
  </div>
</header>
